.cus-outer-div {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.main {
    background: #f5f5f5;
}
.help-inline{
    color :rgb(236, 8, 8);
}

.navbar.navbar-default {
    background: #49D24F;
    color: #fff;
    margin-bottom: 0;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

